/* welcome-section */
.welcome-section {
  padding: 60px 30px 30px 30px;
  text-align: center;
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}

.welcomeStlye {
  padding-top: 15px;
}
.welcomeStlye2 {
  padding-top: 25px;
}

.logoStyle {
  padding-top: 170px;
  padding-bottom: 10px;
}

.mouseStyle {
  padding-bottom: 10px;
  padding-top: 150px;
}

.tag-line {
  font-size: 12px;
}

/* about-us */
.about-us {
  padding: 30px;
  text-align: center;
}

/* services */
.services {
  padding: 95px 0;
  color: white;
  text-align: center;
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  background-position: center center;
}

/* what-we-do */
.what-we-do {
  text-align: center;
  padding: 40px 50px;
}

.services_icons {
  padding-top: 20px;
  max-width: 100%;
  max-height: 100%;

}

.what-we-do-description {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight:600;
  padding-top: 20px;
}

/* portfolio */
.portfolio {
  padding: 20px 100px;
}
.portfolio img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px 0;
}
.cloak {
  display: none;
}
.black-description {
  position:absolute;
  border: 5px solid white;
  top:0;
  left:0;
  margin: 28px;
  padding: 42px;
  line-height: 100%;
  background: #000000;
  color:white;
  font-family: 'Quicksand', sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: left;
  font-size: 1.1em;
  opacity: 0.6;
}

/* contact-us */
.contact-us {
  color: white;
  padding: 0 155px 0 0;
  text-align: center;
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  background-position: center center;
  align-items: center;
}
input {
  padding-top: 20px;
  height: 80%;
  position: relative;
  left: 60px;
  bottom:24px;
}
.button {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  left: 40px;
}
.contact-us-heading {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  left:20px;
}
.clean-background {
  background-color: transparent;
}
textarea {
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left: 70px;
  bottom: 23px;
}

.form-control::placeholder {
  font-weight: 600;
  color: white;
  opacity: 1;
}

/* social-icons */
.social-icons {
  text-align: center;
}
.social-icon-spacing {
  padding: 10px;
}

/* footer-section */

.footer-section {
  text-align: center;
  font-size: 85%;
}
