
/* welcome-section */
.welcome-section {
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  /* padding-top: 80px; */
  /* padding-bottom: 60px; */
  text-align: center;
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: contain;
  background-repeat: round;
  color: white;
}
.welcomeStlye {
  padding-top: 18px;

}

.logoStyle {
  padding-top: 180px;
  padding-bottom: 30px;
}
.mouseStyle {
  padding-bottom: 40px;
  padding-top: 125px;
}

.tag-line {
  font-size: 12px;
}
/* about-us */
.about-us {
  padding: 30px;
  text-align: center;
}
/* services */
.services {
  padding:95px 0;
  color: white;
  text-align: center;
  background-image: url(../assets/backgrounds/s_image.jpg);
}
/* what-we-do */

.what-we-do {
  text-align: center;
  padding: 40px 0;
}
.services_icons {
  margin: 25px 0;
  padding: 0 20px;
}
